.about {
    padding: 4rem 0;
    background-color: var(--color-blue-10);
  }
  
  .about > .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .about__title {
    color: var(--color-blue-100);
  }

  @media screen and (min-width:768px) {
    .about > .container {
      width: 70%;
    }
  }
  @media screen and (min-width:1024px) {
    .about > .container {
      width: 50%;
    }
  }