.hero {
    padding: 2rem 0;
    background-color: var(--background);
  }
  
  .hero > .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .hero__img{
    width: 200px;
    height: 200px;
    margin: auto;
  }
  
  .hero__img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .hero__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-transform: capitalize;
  }
  
  .hero__networks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
  
  .hero__link {
    width: calc(50% - 1rem);
    padding: .5rem;
  }
  
  .hero__link:hover {
    text-decoration: underline;
  }
  
  @media screen and (min-width: 768px){
    .hero > .container {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  
    .hero__img{
      flex-shrink: 0;
    }
    
    .hero__content {
      flex-grow: 1;
    }
  
    .hero__networks {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  
    .hero__link {
      width: auto;
      padding: 0;
    }
  
  }
  
  @media screen and (min-width: 1024px){
  
    .hero {
      padding: 4rem 0;
    }
  
  }